body {
    background-color: #efefff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #a9c9c9#efefff;
}
.navbar a {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #008060;
    color:#008060;
    margin: 0 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.navbar a img.nav-img {
    width: 20px;
    margin-left: 5px;
}
.navbar a:hover {
    background-color: #fff;
    color: #efefff;
}
.container {
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.product {
    text-align: center;
}
.product img.product-img {
    width: 150px;
    border-radius: 5px;
}
.product img.logo {
    width: 120px;
    display: block;
    margin: 0 auto;
}
.product .price {
    color: #777;
}
.offer {
    position: absolute;
    background-color:#efefff;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    margin-top: -20px;
    margin-left: 5px;
}

.icono-centro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.icono-centro i {
    font-size: 150px; /* Tamaño del ícono */
    color: #fff;
}

.icono-imagen {
    width: 300px; 
}